/*     3.0 header section */


.header{
position: fixed;
width: 100%;
z-index: 10;
background: rgba(0,0,0,0.5)
}
.header .logo{
width: 40%;
float: left
}
.header .nav{
width: 60%;
float: right;
list-style: none;
text-align: right
}

.header .logo img {
width: 20%;
margin-top: 5px
}

.header .nav > li {
display: inline-block;
text-align: center
}

.header .nav > li > a{
color: white;
font-size: 15px;
text-decoration: none;
display: block;
padding: 15px 10px;

}

.header .nav > li > a.active:after, .header .nav > li > a:after{
content: "";
display: block;
height: 3px;
background-color: #6195ff;
transition: 1s
}

.header .nav > li > a.active:after{
width: 100%;
}

.header .nav > li > a:after{
width: 0;
}

.header .nav > li > a:hover:after{
width:100%
}

.dropdown{
position:relative
}
.dropdown-menu{
position: absolute;
background: #6195ff;
width: 150px;
text-align: center;
left: -80%;
top: 70%;
opacity: 0;
visibility: hidden;
transition: opacity 1s, visibility 1s
}

.dropdown-menu a{
color: white;
display: block;
padding: 10px;
text-decoration: none;
}
.dropdown:hover .dropdown-menu {
opacity: 1;
visibility: visible;
}